# AWS access variables
AWS_ACCESS_KEY=
AWS_SECRET_KEY=
AWS_REGION=

# Backblaze access variables
B2_APPLICATION_KEY_ID=
B2_APPLICATION_KEY=

# Extra rclone arguments
RCLONE_ARGUMENTS=

# AWS S3 bucket and path
S3_BUCKET=
S3_PATH=

# Backblaze B2 bucket and path
B2_BUCKET=
B2_PATH=
